.cards-container{
    margin: 1rem;
    padding: 1.25rem;
    font-family:sans-serif;
    min-height: 200px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    white-space: nowrap;     /* Forces text to stay on a single line */
    overflow: hidden;        /* Hides the text that overflows the container */
    text-overflow: ellipsis; /* Appends the '...' at the end of the text */
    }

.cards-container:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition:.25s ease;
        transform:translateY(-4px);
       
    }
.cards-container h4{
    white-space: nowrap;     /* Forces text to stay on a single line */
    overflow: hidden;        /* Hides the text that overflows the container */
    text-overflow: ellipsis; /* Appends the '...' at the end of the text */
    font-size:1.2rem;
    font-weight:700;
    color: #1F2937;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.card-description{
    margin-top: 1rem;
    font-size:.95rem;
    line-height:1.5;
    color:#444;
    color: #1F2937;
    white-space: nowrap;     /* Forces text to stay on a single line */
    overflow: hidden;        /* Hides the text that overflows the container */
    text-overflow: ellipsis; /* Appends the '...' at the end of the text */
}

.delete-icon{
    margin-left: 1rem;
    cursor: pointer;
}
.edit-icon{
    cursor: pointer;
}
.delete-icon:hover{
    color: red;
    cursor: pointer;
}

.card-footer{
    display: flex;
    justify-content: space-between;
}

.card-footer p{
    color:grey;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.card-tag{
    width: 10px;
    height: 10px;
    border-radius: 50%;
   
    margin-right: 0.25rem;
}
.card-category{
    width: fit-content;
    font-size: 0.8rem;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 50%;
    font-weight: 600;
}
.pin-card{
color:rgb(154, 73, 235)
}
.theme-dark h4,.theme-dark p{
    color: azure;
}
.cards-container{
    border: 1px solid rgb(164, 164, 53);
}