.header{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        background: linear-gradient(90deg,  #034cc2 0%, #4F46E5 100%);

    color: #FFFFFF;
    display: flex;
    justify-content: space-between;     
}

.header-title{
    padding: 0.5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-icon{
/* background:  #4F46E5; */
padding:0.5rem;
background:white;
color: #034cc2;
border-radius: 10px;
font-size: 0.5rem;

}

.header-button{
    background:  #4F46E5;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 1rem;
}
.header.light {
  background: linear-gradient(90deg,  #034cc2 0%, #4F46E5 100%);
  color: black;
}

.header.dark {
  background: #111827;
  color: white;
}

.header.dark .header-button {
  background: #374151;
  color: white;
}

.header.light .header-button {
  background: #4F46E5;
  color: white;
}