.notes-list-container{
    border: none;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.notes-list-container h3{
    font-size: 1.5rem;
    color: #4F46E5;
    margin: 0 1rem;
}

.notes-list{
    display: flex;
    gap: 15px;
    justify-content:space-between;
    flex-wrap: wrap;
}