.search-container{
border:none;
padding: 1rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
justify-content: space-between;
align-items:center;
gap:1rem;
}

/* .search-container h3{
    font-size: 1.5rem;
    color: #1F2937;
    margin-bottom: 0.5rem;
} */


.search-container input{
    padding: 1rem ;
    font-size: 1.25rem;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    margin: 0.5rem 0.5rem;
    /* color: #1F2937; */
    flex: 1;
}

.search-container button{
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #4A46E3;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;
}
.search-container button:hover{
    background-color: #2563EB;
}

.search-action{
    display:flex;
}

.sort-control{
    width:170px;
}

.sort-control .MuiOutlinedInput-root{
    border-radius:4px;
    font-size:1rem;
}

.sort-control .MuiOutlinedInput-notchedOutline{
   border: 1px solid #E5E7EB;
}

.sort-control .MuiSelect-select{
    padding:1rem;
    background-color: white;
}

.MuiMenu-paper.filter-paper {
    padding: 0 1rem ;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
    min-width: 200px;
    border-radius: 8px;
}

.MuiMenu-paper.filter-paper .MuiFormLabel-root {
    font-size: 1rem;
    color: #1F2937;
    font-weight: 600;
}

.MuiMenu-paper.filter-paper .MuiFormGroup-root {
    color: #65686c;
}

 .MuiMenu-paper.filter-paper .filter-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    cursor: pointer;
}



.filter-action-apply {
    background-color:#4F46E5;
    color: #f3f5f8;
}
.MuiMenu-paper.filter-paper .filter-paper .MuiFormLabel-root {
    font-size: 0.95rem;
    font-weight: 700;
    color: #1F2937;
    margin-bottom: 10px;
}

.MuiMenu-paper.filter-paper .Mui-checked{
    color:#4F46E5;
} 
.MuiMenu-paper .MuiDivider-root {
    margin: 12px 0;
}

.MuiMenu-paper.filter-paper .MuiFormControlLabel-label {
    font-size: 1rem;      /* 16px */
    font-weight: 500;     /* Medium */
    color: #050505;
    
}
.filter-paper .filter-title{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.25rem;
}
.MuiFormLabel-root .MuiInputLabel-root{
    color:rgb(231, 230, 227)
}


   @media (max-width:768px) {
    .search-container{
        flex-direction: column;
        gap: 0;
    }
    .search-container input{
      width: 100%;
    }
    .search-action{
      margin-top:1rem;
      gap:0.5rem;
      width:100%;
      justify-content: space-between;

    }
    .search-action input{
        width:10%
    }
    .search-action .sort-control{
        width:80%;
    }
   }