*{
    /* background-color:#F8FAFC; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
}
.app-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
  background-color:#F8FAFC; 

}

input:focus, textarea:focus, select:focus{
    outline: none;
    border: 1px solid #e4e4e7;
   }